.container{
    text-align: center;
    margin: 100px 0px;
}

.container button{
    margin: 30px;
    padding: 40px;
    border-radius: 25px;
    font-size: 25px ;
}
img{
    height: 400px;
    width: auto;
}
.text{
    font-size: 80px
}